<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 15">
    <meta name=Originator content="Microsoft Word 15">
    <link rel=File-List href="Julis%20Mail-Dateien/filelist.xml">
    <link rel=Edit-Time-Data href="Julis%20Mail-Dateien/editdata.mso">
    <link rel=themeData href="Julis%20Mail-Dateien/themedata.thmx">
    <link rel=colorSchemeMapping href="Julis%20Mail-Dateien/colorschememapping.xml">
    <style>
        @font-face {{
            font-family: Wingdings;
            panose-1: 5 0 0 0 0 0 0 0 0 0;
            mso-font-charset: 2;
            mso-generic-font-family: auto;
            mso-font-pitch: variable;
            mso-font-signature: 0 268435456 0 0 -2147483648 0;
        }}

        @font-face {{
            font-family: "Cambria Math";
            panose-1: 2 4 5 3 5 4 6 3 2 4;
            mso-font-charset: 0;
            mso-generic-font-family: roman;
            mso-font-pitch: variable;
            mso-font-signature: -536869121 1107305727 33554432 0 415 0;
        }}

        @font-face {{
            font-family: Calibri;
            panose-1: 2 15 5 2 2 2 4 3 2 4;
            mso-font-charset: 0;
            mso-generic-font-family: swiss;
            mso-font-pitch: variable;
            mso-font-signature: -469750017 -1073732485 9 0 511 0;
        }}

        @font-face {{
            font-family: Verdana;
            panose-1: 2 11 6 4 3 5 4 4 2 4;
            mso-font-charset: 0;
            mso-generic-font-family: swiss;
            mso-font-pitch: variable;
            mso-font-signature: -1610610945 1073750107 16 0 415 0;
        }}

        @font-face {{
            font-family: Montserrat;
            mso-font-alt: Calibri;
            mso-font-charset: 0;
            mso-generic-font-family: auto;
            mso-font-pitch: variable;
            mso-font-signature: 536871439 3 0 0 407 0;
        }}

        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {{
            mso-style-unhide: no;
            mso-style-qformat: yes;
            mso-style-parent: "";
            margin: 0cm;
            mso-pagination: widow-orphan;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
            mso-ascii-font-family: Calibri;
            mso-ascii-theme-font: minor-latin;
            mso-fareast-font-family: "Times New Roman";
            mso-fareast-theme-font: minor-fareast;
            mso-hansi-font-family: Calibri;
            mso-hansi-theme-font: minor-latin;
            mso-bidi-font-family: "Times New Roman";
            mso-bidi-theme-font: minor-bidi;
        }}

        a:link, span.MsoHyperlink {{
            mso-style-priority: 99;
            color: #E5007D;
            mso-text-animation: none;
            text-decoration: none;
            text-underline: none;
            text-decoration: none;
            text-line-through: none;
        }}

        a:visited, span.MsoHyperlinkFollowed {{
            mso-style-noshow: yes;
            mso-style-priority: 99;
            color: #954F72;
            mso-themecolor: followedhyperlink;
            text-decoration: underline;
            text-underline: single;
        }}

        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {{
            mso-style-priority: 34;
            mso-style-unhide: no;
            mso-style-qformat: yes;
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 0cm;
            margin-left: 36.0pt;
            mso-add-space: auto;
            mso-pagination: widow-orphan;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
            mso-ascii-font-family: Calibri;
            mso-ascii-theme-font: minor-latin;
            mso-fareast-font-family: "Times New Roman";
            mso-fareast-theme-font: minor-fareast;
            mso-hansi-font-family: Calibri;
            mso-hansi-theme-font: minor-latin;
            mso-bidi-font-family: "Times New Roman";
            mso-bidi-theme-font: minor-bidi;
        }}

        p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst {{
            mso-style-priority: 34;
            mso-style-unhide: no;
            mso-style-qformat: yes;
            mso-style-type: export-only;
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 0cm;
            margin-left: 36.0pt;
            mso-add-space: auto;
            mso-pagination: widow-orphan;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
            mso-ascii-font-family: Calibri;
            mso-ascii-theme-font: minor-latin;
            mso-fareast-font-family: "Times New Roman";
            mso-fareast-theme-font: minor-fareast;
            mso-hansi-font-family: Calibri;
            mso-hansi-theme-font: minor-latin;
            mso-bidi-font-family: "Times New Roman";
            mso-bidi-theme-font: minor-bidi;
        }}

        p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle {{
            mso-style-priority: 34;
            mso-style-unhide: no;
            mso-style-qformat: yes;
            mso-style-type: export-only;
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 0cm;
            margin-left: 36.0pt;
            mso-add-space: auto;
            mso-pagination: widow-orphan;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
            mso-ascii-font-family: Calibri;
            mso-ascii-theme-font: minor-latin;
            mso-fareast-font-family: "Times New Roman";
            mso-fareast-theme-font: minor-fareast;
            mso-hansi-font-family: Calibri;
            mso-hansi-theme-font: minor-latin;
            mso-bidi-font-family: "Times New Roman";
            mso-bidi-theme-font: minor-bidi;
        }}

        p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast {{
            mso-style-priority: 34;
            mso-style-unhide: no;
            mso-style-qformat: yes;
            mso-style-type: export-only;
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 0cm;
            margin-left: 36.0pt;
            mso-add-space: auto;
            mso-pagination: widow-orphan;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
            mso-ascii-font-family: Calibri;
            mso-ascii-theme-font: minor-latin;
            mso-fareast-font-family: "Times New Roman";
            mso-fareast-theme-font: minor-fareast;
            mso-hansi-font-family: Calibri;
            mso-hansi-theme-font: minor-latin;
            mso-bidi-font-family: "Times New Roman";
            mso-bidi-theme-font: minor-bidi;
        }}

        span.SpellE {{
            mso-style-name: "";
            mso-spl-e: yes;
        }}

        .MsoChpDefault {{
            mso-style-type: export-only;
            mso-default-props: yes;
            font-family: "Calibri", sans-serif;
            mso-ascii-font-family: Calibri;
            mso-ascii-theme-font: minor-latin;
            mso-fareast-font-family: Calibri;
            mso-fareast-theme-font: minor-latin;
            mso-hansi-font-family: Calibri;
            mso-hansi-theme-font: minor-latin;
            mso-bidi-font-family: "Times New Roman";
            mso-bidi-theme-font: minor-bidi;
            mso-fareast-language: EN-US;
        }}

        .MsoPapDefault {{
            mso-style-type: export-only;
            margin-bottom: 8.0pt;
            line-height: 107%;
        }}

        @page WordSection1 {{
            size: 595.3pt 841.9pt;
            margin: 70.85pt 70.85pt 2.0cm 70.85pt;
            mso-header-margin: 35.4pt;
            mso-footer-margin: 35.4pt;
            mso-paper-source: 0;
        }}

        div.WordSection1 {{
            page: WordSection1;
        }}

        ol {{
            margin-bottom: 0cm;
        }}

        ul {{
            margin-bottom: 0cm;
        }}

        -->
    </style>

</head>

<body lang=DE link="#E5007D" vlink="#954F72" style='tab-interval:35.4pt;
word-wrap:break-word'>

<div class=WordSection1>

    <div align=center>

        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=580
               style='width:435.0pt;border-collapse:collapse;mso-yfti-tbllook:1184;
 mso-padding-alt:0cm 0cm 0cm 0cm'>
            <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                <td valign=top style='border:solid #CCCCCC 1.0pt;mso-border-alt:solid #CCCCCC .75pt;
  background:white;padding:7.5pt 15.0pt 7.5pt 15.0pt'>
                    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
                           style='width:100.0%;border-collapse:collapse;mso-yfti-tbllook:1184;
   mso-padding-alt:0cm 0cm 0cm 0cm'>
                        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                            <td valign=top style='background:white;padding:0cm 0cm 0cm 0cm'>
                                <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                       width="100%" style='width:100.0%;border-collapse:collapse;mso-yfti-tbllook:
     1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
                                    <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                                        <td valign=top style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
                                            <p class=MsoNormal><span
                                                    style='font-size:11.5pt;font-family:"Verdana",sans-serif;mso-fareast-font-family:
      "Times New Roman";color:#666666'><o:p></o:p></span></p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <p class=MsoNormal><a name=cra-36521291825></a><span style='font-size:11.5pt;
  font-family:"Verdana",sans-serif;mso-fareast-font-family:"Times New Roman";
  color:#666666;display:none;mso-hide:all'><o:p>&nbsp;</o:p></span></p>
                    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
                           style='width:100.0%;border-collapse:collapse;mso-yfti-tbllook:1184;
   mso-padding-alt:0cm 0cm 0cm 0cm'>
                        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                            <td valign=top style='background:white;padding:0cm 0cm 0cm 0cm'>
                                <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                       width="100%" style='width:100.0%;border-collapse:collapse;mso-yfti-tbllook:
     1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
                                    <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                                        <td valign=top style='padding:0cm 0cm 0cm 0cm'>
                                            <p class=MsoNormal><span style='mso-no-proof:yes'><![if !vml]><img width=207
                                                                                                               height=80
                                                                                                               src="{image001}"
                                                                                                               v:shapes="Grafik_x0020_8"><![endif]></span><span
                                                    style='font-size:11.5pt;font-family:"Verdana",sans-serif;mso-fareast-font-family:
      "Times New Roman";mso-bidi-font-family:Calibri;color:#666666'><o:p></o:p></span></p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <p class=MsoNormal><a name=cra-20303712273></a><span style='font-size:11.5pt;
  font-family:"Verdana",sans-serif;mso-fareast-font-family:"Times New Roman";
  color:#666666;display:none;mso-hide:all'><o:p>&nbsp;</o:p></span></p>
                    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
                           style='width:100.0%;border-collapse:collapse;mso-yfti-tbllook:1184;
   mso-padding-alt:0cm 0cm 0cm 0cm'>
                        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                            <td valign=top style='background:white;padding:0cm 0cm 0cm 0cm'>
                                <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                       width="100%" style='width:100.0%;border-collapse:collapse;mso-yfti-tbllook:
     1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
                                    <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                                        <td valign=top style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
                                            <p class=MsoNormal align=center style='text-align:center'><span
                                                    style='font-size:11.5pt;font-family:"Verdana",sans-serif;mso-fareast-font-family:
      "Times New Roman";color:#666666;mso-no-proof:yes'><![if !vml]><img width=613 height=267
                                                                         src="{image002}"
                                                                         v:shapes="Grafik_x0020_9"><![endif]></span><span
                                                    style='font-size:11.5pt;font-family:"Verdana",sans-serif;mso-fareast-font-family:
      "Times New Roman";mso-bidi-font-family:Calibri;color:#666666'><o:p></o:p></span></p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <p class=MsoNormal><a name=cra-3178312></a><span style='font-size:11.5pt;
  font-family:"Verdana",sans-serif;mso-fareast-font-family:"Times New Roman";
  color:#666666;display:none;mso-hide:all'><o:p>&nbsp;</o:p></span></p>
                    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
                           style='width:100.0%;border-collapse:collapse;mso-yfti-tbllook:1184;
   mso-padding-alt:0cm 0cm 0cm 0cm'>
                        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                            <td valign=top style='padding:0cm 0cm 0cm 0cm'>
                                <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                       width="100%" style='width:100.0%;border-collapse:collapse;mso-yfti-tbllook:
     1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
                                    <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
                                        <td valign=top style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
                                            <p class=MsoNormal align=center style='text-align:center'><b><span
                                                    style='font-size:20.0pt;font-family:Montserrat;mso-fareast-font-family:
      "Montserrat";color:#E5007D'>{Anrede}<span class=SpellE></span>,</span></b><b><span
                                                    style='font-size:11.5pt;font-family:Montserrat;mso-fareast-font-family:
      "Montserrat";mso-bidi-font-family:Calibri;color:#666666'><o:p></o:p></span></b></p>
                                        </td>
                                    </tr>
                                    <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes'>
                                        <td valign=top style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
                                            <p class=MsoNormal style='text-align:justify'><span style='font-size:
      11.5pt;font-family:"Verdana",sans-serif;mso-fareast-font-family:"Times New Roman";
      color:#666666'>{Nachricht}
                                       <a href="http://www.google.de">test</a>

                                                <o:p></o:p></span></p>
                                            <p class=MsoNormal style='text-align:justify'><span style='font-size:
      11.5pt;font-family:"Verdana",sans-serif;mso-fareast-font-family:"Times New Roman";
      color:#666666'><o:p>&nbsp;</o:p></span></p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <p class=MsoNormal><a name=cra-89783818880></a><span style='font-size:11.5pt;
  font-family:"Verdana",sans-serif;mso-fareast-font-family:"Times New Roman";
  color:#666666;display:none;mso-hide:all'><o:p>&nbsp;</o:p></span></p>
                    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%"
                           style='width:100.0%;border-collapse:collapse;mso-yfti-tbllook:1184;
   mso-padding-alt:0cm 0cm 0cm 0cm'>
                        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                            <td valign=top style='padding:0cm 0cm 0cm 0cm'>
                                <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
                                       width="100%" style='width:100.0%;border-collapse:collapse;mso-yfti-tbllook:
     1184;mso-padding-alt:0cm 0cm 0cm 0cm'>
                                    <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                                        <td valign=top style='padding:3.75pt 3.75pt 3.75pt 3.75pt'>
                                            <p class=MsoNormal><![if !vml]><img width=627 height=1
                                                                                src="{image003}"
                                                                                v:shapes="Rechteck_x0020_5"><![endif]>
                                                <span
                                                        style='font-size:11.5pt;font-family:"Verdana",sans-serif;mso-fareast-font-family:
      "Times New Roman";mso-bidi-font-family:Calibri;color:#666666'><o:p></o:p></span></p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <p class=MsoNormal><a name=cra-21124695288></a><span style='font-size:11.5pt;
  font-family:"Verdana",sans-serif;mso-fareast-font-family:"Times New Roman";
  color:#666666;display:none;mso-hide:all'><o:p>&nbsp;</o:p></span></p>
                    <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
                           style='margin-left:430.4pt;border-collapse:collapse;border:none;mso-yfti-tbllook:
   1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:none;mso-border-insidev:
   none'>
                        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
                            <td width=18 valign=top style='width:13.25pt;padding:0cm 5.4pt 0cm 5.4pt'>
                                <p class=MsoNormal><a href="{Website}"><span
                                        style='color:windowtext;mso-no-proof:yes'><![if !vml]><span
                                        style='mso-ignore:vglayout'><img
                                        border=0 width=29 height=29 src="{image004}"
                                        v:shapes="Grafik_x0020_3"></span><![endif]></span></a></p>
                            </td>
                            <td width=44 valign=top style='width:33.35pt;padding:0cm 5.4pt 0cm 5.4pt'>
                                <p class=MsoNormal><a
                                        href="{Instagram}"><span
                                        style='color:windowtext;mso-no-proof:yes'><![if !vml]><span
                                        style='mso-ignore:vglayout'><img
                                        border=0 width=30 height=29 src="{image005}"
                                        v:shapes="Grafik_x0020_4"></span><![endif]></span></a></p>
                            </td>
                        </tr>
                    </table>
                    <p class=MsoNormal>
                        <o:p></o:p>
                    </p>
                </td>
            </tr>
        </table>

    </div>

    <p class=MsoNormal align=center style='text-align:center'>
        <o:p>&nbsp;</o:p>
    </p>

</div>

</body>

</html>
